/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/examples.txt
/config.json
/build/*
*/.kitchen/*
.kitchen/*
/test/cookbooks/liveness-agent-test/recipes/compiled-recipe.rb
/test/cookbooks/liveness-agent-test/recipes/stable-compiled-recipe.rb
